.druxt-node-preview {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.druxt-node-preview iframe {
  background-color: white;
  border: 1px solid black;
  min-height: 75vh;
  width: 100%;
}
